.grid-container{

    width: 80%;
    height: 80%;
   gap: .21rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: .6fr 7fr .21fr;
}
.grid-item{
    background-color: rgb(26, 27, 32);
    border-radius: 3rem;
    padding: 1rem 10%;
}
.grid-item-1{
    grid-row: 1/2;
    grid-column: 1/3;
}
.grid-item-2{
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-row: 2/4;
    grid-column: 2/3;
}
.grid-item-3{
   
    padding: 0%;
    grid-row: 2/3;
    grid-column: 1/2;
}
.grid-item-4{
    grid-row: 3/4;
    grid-column: 1/2;
}
.artist-image{
    border: none;
    height: 25rem;
    border-radius: 2rem;
}
.my-card-container{
    
    border: none;
    border-radius: 2rem;
  
}
.artist-text-body{  
    border: none;
    margin: 0%;
  
    border-radius: 0 0 2rem 2rem ;
}
.top-songs{
  
    padding: 3rem;
    background: linear-gradient(141deg, rgba(30,19,33,1) 0%, rgba(25,18,37,1) 46%, rgba(16,18,34,1) 99%);   height: 60rem;
    margin-top: 1rem;
    border-radius: 2rem;
}
.side-song-info{
    margin-top: 1rem;
    display: flex;
}
.side-song-info-text{
    color: white;
    margin-left: 1.3rem;
}
.side-song-image{
    border: none;
    border-radius: .41rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(33, 33, 33);
}
.side-song-name{
    font-size: 1.4rem;
}
.side-song-duration{
    font-size: 1rem;
}
.main-song-image{
    border-radius: .31rem;
    width: 3rem;
    height: 3rem;
    background-color: rgb(194, 194, 194);
}
.main-song-info{
    
    margin-top: .41rem;
    display: flex;
}
.main-song-info-text{
    
    
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    margin-left: 1.3rem;
}
.main-song-name,.main-song-duration{
    font-size: 1.4rem;
}
.main-song-duration{
    color: antiquewhite;
    margin-left: 2rem;
}
.main-song-info-text h3{
    font-size: 1.4rem;
    margin: 0;
}
.main-song-info-text div{
    font-size: 1rem;
}
.retrieved-songs{
    padding: 1rem 5rem;
}
.upper-song-container{
    border-radius: 3rem 3rem 0 0 ;
    height: 15rem;
    width: 100%;

    background: linear-gradient(141deg, rgba(71,15,84,1) 0%, rgba(60,21,126,1) 46%, rgba(15,26,117,1) 99%);
}